<container>
    <row>
        <h1>Story: {{storyWithPermissions.dataValues.title}}</h1>
        <h3>Genre: {{storyWithPermissions.dataValues.genre}}</h3>
        <hr>

        {{#if storyWithPermissions.dataValues.openWritingToAllUsers}}
            <h3>Writing is open to everyone - no additional permissions necessary.</h3>
        {{else}}
            <h3>WE NEED TO ADD FOLKS TO WRITE!!!</h3>
        {{/if}}
        <hr>
        {{#if storyWithPermissions.dataValues.openVotingToAllUsers}}
            <h3>Voting is open to everyone - no additional permissions necessary.</h3>
        {{else}}
            <h3>WE NEED TO ADD FOLKS TO VOTE!!!</h3>
        {{/if}}
    </row>
    <hr>
    <row>
        <table class="text-center" style="width:100%" border="1x solid black">
            <tr >
                <th class="text-center">User</th>
                <th class="text-center">Vote</th> 
                <th class="text-center">Write</th>
                <th class="text-center">Admin</th>
                <th class="text-center">Remove</th>
            </tr>

            {{#each storyWithPermissions.dataValues.Permissions}}
            <tr>
                <td>Need to pull name - ID: {{dataValues.id}}</td>
                <td><input type="checkbox" {{#if ../storyWithPermissions.dataValues.openVotingToAllUsers}}disabled{{/if}} {{#if dataValues.permissionVote}}checked{{/if}}/></td> 
                <td><input type="checkbox" {{#if ../storyWithPermissions.dataValues.openWritingToAllUsers}}disabled{{/if}} {{#if dataValues.permissionWrite}}checked{{/if}}/></td>
                <td><input type="checkbox" {{#if dataValues.permissionAdmin}}checked{{/if}}/></td>
                <td><a href="/api/permission/{{dataValues.id}}/remove">X</a></td>
            </tr>
            {{/each}}
        </table>
    <hr>
        <table class="text-center" style="width:100%" border="1x solid black">
            <tr>
                <th class="text-center">User</th>
                <th class="text-center">Vote</th> 
                <th class="text-center">Write</th>
                <th class="text-center">Admin</th>
                <th class="text-center">Remove</th>
            </tr>

            <tr>
                <td>UserId: <input id="inputUser" type="number" name="userId"></td>
                <td><input id="inputVote" type="checkbox" {{#if storyWithPermissions.dataValues.openVotingToAllUsers}}disabled{{/if}}/></td> 
                <td><input id="inputWrite" type="checkbox" {{#if storyWithPermissions.dataValues.openWritingToAllUsers}}disabled{{/if}}/></td>
                <td><input id="inputAdmin" type="checkbox"/></td>
                <td><p id="addPermissionButton" class="btn btn-success">Add This Permission</p></td>
            </tr>
        </table>
    </row>
</container>