<container>
    <row>
        <h1>Story: {{storyWithPermissions.dataValues.title}}</h1>
        <h3>Genre: {{storyWithPermissions.dataValues.genre}}</h3>
        <hr>

        {{#if storyWithPermissions.dataValues.openWritingToAllUsers}}
            <h3>Writing is open to the public.</h3>
        {{else}}
            <h3>Writing is closed to only authorized users - please select and authorize users below.</h3>
            <p>You can find your friends by looking them up using their user name - then you can check the boxes as appropriate for vote, write, or admin.</p>
        {{/if}}
        <hr>
        {{#if storyWithPermissions.dataValues.openVotingToAllUsers}}
            <h3>Voting is open to the public.</h3>
        {{else}}
            <h3>Writing is closed to only authorized users - please select and authorize users below.</h3>
            <p>You can find your friends by looking them up using their user name - then you can check the boxes as appropriate for vote, write, or admin.</p>
        {{/if}}
    </row>
    <hr>
    <row>
        <table class="text-center" style="width:100%" border="1x solid black">
            <tr >
                <th class="text-center">User</th>
                <th class="text-center">Vote</th> 
                <th class="text-center">Write</th>
                <th class="text-center">Admin</th>
                <th class="text-center">Remove</th>
            </tr>

            {{#each storyWithPermissions.dataValues.Permissions}}
            <tr>
                <td>Need to pull name - ID: {{dataValues.id}}</td>
                <td>{{#if ../storyWithPermissions.dataValues.openVotingToAllUsers}}Enabled{{else}}<input class="checkboxUpdatePermission" dataId="{{dataValues.id}}" dataType="vote" type="checkbox"  {{#if dataValues.permissionVote}}checked{{/if}}/>{{/if}}</td> 
                <td>{{#if ../storyWithPermissions.dataValues.openWritingToAllUsers}}Enabled{{else}}<input class="checkboxUpdatePermission" dataId="{{dataValues.id}}" dataType="write" type="checkbox"  {{#if dataValues.permissionWrite}}checked{{/if}}/>{{/if}}</td>
                <td><input class="checkboxUpdatePermission" dataId="{{dataValues.id}}" dataType="admin" type="checkbox" {{#if dataValues.permissionAdmin}}checked{{/if}}/></td>
                <td><img class="removePermission smallImg" dataId= "{{dataValues.id}}" src="https://cdn2.iconfinder.com/data/icons/arrows-and-universal-actions-icon-set/256/cancel_circle-128.png"></td>
            </tr>
            {{/each}}
        </table>
    <hr>
        <table class="text-center" style="width:100%" border="1x solid black">
            <tr>
                <th class="text-center">User</th>
                <th class="text-center">Vote</th> 
                <th class="text-center">Write</th>
                <th class="text-center">Admin</th>
                <th class="text-center">Add</th>
            </tr>

            <tr>
                <td>UserId: <input id="inputUser" type="number" name="userId"></td>
                <td>{{#if storyWithPermissions.dataValues.openVotingToAllUsers}}Enabled{{else}}<input id="inputVote" type="checkbox"/>{{/if}}</td> 
                <td>{{#if storyWithPermissions.dataValues.openWritingToAllUsers}}Enabled{{else}}<input id="inputWrite" type="checkbox"/>{{/if}}</td> 
                <td><input id="inputAdmin" type="checkbox"/></td>
                <td><p id="addPermissionButton" storyId="{{storyWithPermissions.dataValues.id}}" class="btn btn-success">Add This Permission</p></td>
            </tr>
        </table>
    </row>
</container>