<html>
<div class="container">

    <div>
        <h1>You are currently logged in as:</h1>
    </div>
    <div class="page-header">
        ID: {{user.id}} <br>
        UserId: {{user.userId}} <br>
        Display Name: {{user.displayName}} <br>
        Email:  {{user.email}} <br>
        Provider: {{user.provider}} <br>
    </div>
</div>
</html>