<div class="container">

<div class="row">    
    {{!-- <div class="col-sm-2"></div> --}}
    <div class="col-sm-8">
        <div class="page-header">
            <h1>Update Story</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {{!-- Create form --}}
        <form class="create-form" id="updateStoryForm" data-id="{{handlebarCall.dataValues.id}}">
            <div class="column columnCreate">
                {{!-- <div class="col-sm-2"> --}}
                    <div class="form-group">
                        <label for="createStoryTitle" >Story Title Here </label>   
                            <input type="text" id="createStoryTitle" name="name" value="{{handlebarCall.dataValues.title}}"> 
                    </div>
                    <div class="form-group">
                        <label for="createStoryGenre" >Type Genre Here: </label>   
                            <input type="text" id="createStoryGenre" name="name" value="{{handlebarCall.dataValues.genre}}"> 
                    </div>

                    <div class="form-group">
                        <label for="minimumNumberOfVoters">Minimum Number Of Voters</label>
                            <input type="text" id="minimumNumberOfVoters" name="name" value="{{handlebarCall.dataValues.minimumNumberOfVoters}}">
                    </div>        
                {{!-- </div> --}}
            </div> 

            <div class="column columnCreate">
                {{!-- <div class="col-sm-2"> --}}
                    <div class="form-group">
                        <label for="minimumNumberOfWriters">Minimum Number Of Writers</label>
                            <input type="text" id="minimumNumberOfWriters" name="name" value="{{handlebarCall.dataValues.minimumNumberOfWriters}}">
                    </div>

                    <div class="form-group">
                        <label for="writingTimePeriodInMins">Writing Period In Minutes</label>
                            <input type="text" id="writingTimePeriodInMins" name="name" value="{{handlebarCall.dataValues.writingTimePeriodInMins}}">
                    </div>
                            
                    <div class="form-group">
                        <label for="votingTimePeriodInMins">Voting Period In Minutes</label>
                            <input type="text" id="votingTimePeriodInMins" name="name" value="{{handlebarCall.dataValues.votingTimePeriodInMins}}">
                    </div> 
                {{!-- </div> --}}
            </div>
        </div>

        <div class="row">
            <div class="column columnCreate">
                {{!-- <div class="col-sm-4">                --}}
                    <div class="form-group">
                        <h4>Open Writing To Others</h4>
                        <select data-placeholder="" class="chosen-select" id="openWritingToOthers" >
                            {{#if handlebarCall.dataValues.openWritingToAllUsers}}
                                <option value="true" selected>true</option>
                                <option value="false">false</option>
                            {{else}}
                                <option value="true">true</option>
                                <option value="false" selected>false</option>
                            {{/if}}                  
                        </select>
                        {{#if handlebarCall.dataValues.openWritingToAllUsers}}
                            <h4>Additional permissions not necessary - writing is open to all.</h4>
                        {{else}}
                            <a href="/story/{{handlebarCall.dataValues.id}}/permissions"><h3>Add/Edit these permissions</h3></a>
                            <h4>Show all users with writing permissions here</h4>
                        {{/if}}
                    </div>

                    <div class="form-group">
                        <h4>Open Voting To Others</h4>
                        <select data-placeholder="" class="chosen-select" id="openVotingToOthers" >
                            {{#if handlebarCall.dataValues.openVotingToAllUsers}}
                                <option value="true" selected>true</option>
                                <option value="false">false</option>
                            {{else}}
                                <option value="true">true</option>
                                <option value="false" selected>false</option>
                            {{/if}}                     
                        </select>
                        {{#if handlebarCall.dataValues.openVotingToAllUsers}}
                            <h4>Additional permissions not necessary - voting is open to all.</h4>
                        {{else}}
                            <a href="/story/{{handlebarCall.dataValues.id}}/permissions"><h3>Add/Edit these permissions</h3></a>
                            <h4>Show all users with voting permissions here</h4>
                        {{/if}}
                    </div>
                {{!-- </div> --}}
            </div>   
            
            
            <div class="column columnCreate">
                {{!-- <div class="col-sm-4"> --}}
                    <div class="form-group">
                        <h4>Publicly Visible</h4>
                        <select data-placeholder="" class="chosen-select" id="visibleToPublic">
                            {{#if handlebarCall.dataValues.publiclyVisible}}
                                <option value="true" selected>true</option>
                                <option value="false">false</option>
                            {{else}}
                                <option value="true">true</option>
                                <option value="false" selected>false</option>
                            {{/if}}         
                        </select>
                    </div>

                    <div class="form-group">

                        <h4>Active Schedule for Writing and Voting</h4>
                        <select data-placeholder="" class="chosen-select" id="scheduleActive">
                            {{#if handlebarCall.dataValues.scheduleActive}}
                                <option value="true" selected>true</option>
                                <option value="false">false</option>
                            {{else}}
                                <option value="true">true</option>
                                <option value="false" selected>false</option>
                            {{/if}}
                        </select>
                    </div>
                {{!-- </div> --}}
            </div>
        </div>
    {{!-- End of row, end of form --}}
        </form>
    </div>


<div class="row">
    <div="col-sm-2"></div>
    <div="col-sm-9">
        <button type="submit" id="updateStory" class="btn">Save Update
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> 
        </button>
    </div>
</div>


{{!-- End of container for first column --}}
</div> 



























{{!-- End of container --}}
</div> 