<h2>Update Your Story Here:</h2>
              <form class="create-form" data-id="{{handlebarCall.dataValues.id}}">
                <div class="form-group">
                    <label for="createStoryTitle" >Story Title Here </label>   
                    <input type="text" id="createStoryTitle" name="name" value="{{handlebarCall.dataValues.title}}"> 
                </div>
                <div class="form-group">
                    <label for="createStoryGenre" >Type Genre Here: </label>   
                    <input type="text" id="createStoryGenre" name="name" value="{{handlebarCall.dataValues.genre}}"> 
                </div>
            
                <div class="form-group">
                    <h3>Open Writing To Others</h3>
                    <select data-placeholder="" class="chosen-select" id="openWritingToOthers" >
                            <option value= "">{{handlebarCall.dataValues.openWritingToAllUsers}}</option>
                            <option value="true">true</option>
                            <option value="false">false</option>                        
                    </select>
                </div>

                <div class="form-group">
                    <h3>Open Voting To Others</h3>
                    <select data-placeholder="" class="chosen-select" id="openVotingToOthers" >
                            <option value= "">{{handlebarCall.dataValues.openVotingToAllUsers}}</option>
                            <option value="true">true</option>
                            <option value="false">false</option>                        
                    </select>
                </div>

                <div class="form-group">
                    <h3>Publicly Visible</h3>
                    <select data-placeholder="" class="chosen-select" id="visibleToPublic">
                            <option value= "">{{handlebarCall.dataValues.publiclyVisible}}</option>
                            <option value="true">true</option>
                            <option value="false">false</option>                        
                    </select>
                </div>
                    
                    <div class="form-group">
                        <label for="minimumNumberOfVoters">Minimum Number Of Voters</label>
                        <input type="text" id="minimumNumberOfVoters" name="name" value="{{handlebarCall.dataValues.minimumNumberOfVoters}}">
                    </div>
                    
                    
                    
                    <div class="form-group">
                        <label for="minimumNumberOfWriters">Minimum Number Of Writers</label>
                        <input type="text" id="minimumNumberOfWriters" name="name" value="{{handlebarCall.dataValues.minimumNumberOfWriters}}">
                    </div>
                    
                    
                    <div class="form-group">
                        <h3>Pause Story Voting Period</h3>
                        <select data-placeholder="" class="chosen-select" id="scheduleActive">
                            <option value="">{{handlebarCall.dataValues.scheduleActive}}</option>
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="writingTimePeriodInMins">Writing Period In Minutes</label>
                        <input type="text" id="writingTimePeriodInMins" name="name" value="{{handlebarCall.dataValues.writingTimePeriodInMins}}">
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="votingTimePeriodInMins">Voting Period In Minutes</label>
                        <input type="text" id="votingTimePeriodInMins" name="name" value="{{handlebarCall.dataValues.votingTimePeriodInMins}}">
                    </div>
                    
                    <hr>
                <button type="submit" id="updateStory">Update My Story!</button>
              </form>

