<div class="container">

<div class="row">    
    {{!-- <div class="col-sm-2"></div> --}}
    <div class="col-sm-8">
        <div class="page-header">
            <h1>Your Stories</h1>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-sm-9">
            {{#each handlebarsCall}}
                <h1>Title:<a href="/api/story/{{dataValues.id}}/read">{{dataValues.title}}</a></h1>
                <ul>
                    <li data-id="{{dataValues.id}}">id: {{dataValues.id}}</li>
                    <li>Genre: {{dataValues.genre}}</li>
                    <li>Visible to public: {{dataValues.publiclyVisible}}</li>
                    <li>Open writing to all users: {{dataValues.openWritingToAllUsers}}</li>
                    <li>Open voting to all users: {{dataValues.openVotingToAllUsers}}</li>
                    <li>Current Status: {{dataValues.storyProgressionError}}</li>
                </ul>
                
            <p><a class="btn btn-default" href="/updateStoryForm/{{dataValues.id}}">Edit</a></p>

            {{#if dataValues.toggleWritingTrueOrVotingFalse}}
            <p><a class="btn btn-primary" href="/api/story/{{dataValues.id}}/write">Write For This Story</a></p>
                {{else}}
            <p><a class="btn btn-danger" href="/api/story/{{dataValues.id}}/voting">Vote For This Story</a></p>
            {{/if}}
            <p><a class="updateStoryStatus btn btn-success" storyId="{{dataValues.id}}" href="/viewStories">Update Story Status</a></p>
            <hr id="separation">
            {{/each}}
        </div>
    </div>

</div>