<h1>You want to see all stories created HERE!</h1>

{{#each handlebarsCall}}
    <p>title: {{dataValues.title}}</p>
    <ul>
        <li data-id="{{dataValues.id}}">id: {{dataValues.id}}</li>
        <li>genre: {{dataValues.genre}}</li>
        <li>visible to public: {{dataValues.publiclyVisible}}</li>
        <li>open voting to all users: {{dataValues.openVotingToAllUsers}}</li>
        <li>open writing to all users: {{dataValues.openWritingToAllUsers}}</li>
    </ul>

    {{!-- <button type="button" thisStoryId="{{dataValues.id}}" class="editStory btn btn-info">Edit {{dataValues.id}}</button> --}}
<a href="/updateStoryForm/{{dataValues.id}}">Edit</a>
    <p>*****</p>    
{{/each}}

  <!--Input area to search by genre-->
    <h1> Search stories by genre</h1>

    <form class="create-form">
        <div class="form-group">
            <label for="searchStoryGenre">What genre are you interested in?</label>   
            <input type="text" id="genreSearchInput" name="name" > 
        </div>

        <button id="genreButton">Search This Genre</button></a>
    </form>