
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <h3>Title: {{callThisVariableInHandlebarsForEach.dataValues.title}}</h3>
    </div>
    <div class="col-sm-2">
      <h3>Visibility: {{callThisVariableInHandlebarsForEach.dataValues.publiclyVisible}}</h3>
    </div>
    <div class="col-sm-2">
      <h3>Genre: {{callThisVariableInHandlebarsForEach.dataValues.genre}}</h3>
    </div>
    <div class="col-sm-2">
      <h3>_________: {{callThisVariableInHandlebarsForEach.dataValues.________}}</h3>
    </div>
    <div class="col-sm-2">
      <h3>Story:</h3>
    </div>
  </div>

  <div class="row">
    <form>
        <div class="form-group">
        <label for="exampleFormControlTextarea1">STORY</label>
        <textarea class="form-control" id="storyBody" rows="18"></textarea>
        <button type="button" class="btn btn-outline-success" style="float: right" id="SubmitStory">Submit</button>
      </div>
    </form>

 {{#each callThisVariableInHandlebarsForEach.dataValues.Lines}} {{dataValues.lineText}} {{/each}}


  </div>


 

</div>

<script src="./assets/js/submitStory.js"></script>