
<div class="container">
{{!-- A few story specs so the user knows which story they are writing for --}}
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <p>Story: {{callThisVariableInHandlebarsForEach.dataValues.title}}</p>
      <p>Genre: {{callThisVariableInHandlebarsForEach.dataValues.genre}}</p>
    </div>
  </div>

{{!-- Text area to show lines submitted to the story --}}
  <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
           <div class="form-group">
              <label for="storySoFar"></label>
              <textarea disabled class="form-control" id="storySoFar" rows="20">
                {{#each callThisVariableInHandlebarsForEach.dataValues.Lines}} 
                      {{dataValues.lineText}} 
                {{/each}}
              </textarea>
          </div>
        </div>
    </div>

{{!-- This is the row to write line --}}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
           <div class="form-group">
              <label for="exampleTextarea"></label>
              <textarea class="form-control" id="writeLineHere" rows="10" placeholder="Type your line here!"></textarea>
          </div>
        </div>     
    </div>
  
{{!-- Line for submit line --}}
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
       <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
    </div>
  </div>










  
  {{!-- <div class="row">
    <div class="col-sm-2">
      <h3>Title: {{callThisVariableInHandlebarsForEach.dataValues.title}}</h3>
    </div>
    <div class="col-sm-2">
      <h3>Visibility: {{callThisVariableInHandlebarsForEach.dataValues.publiclyVisible}}</h3>
    </div>
    <div class="col-sm-2">
      <h3>Genre: {{callThisVariableInHandlebarsForEach.dataValues.genre}}</h3>
    </div>
    <div class="col-sm-2">
      <h3>_________: {{callThisVariableInHandlebarsForEach.dataValues.________}}</h3>
    </div>
    <div class="col-sm-2">
      <h3>Story:</h3>
    </div>
  </div>

  <div class="row">
    <form>
        <div class="form-group">
        <label for="exampleFormControlTextarea1">STORY</label>
        <textarea class="form-control" id="storyBody" rows="18"></textarea>
        <button type="button" class="btn btn-outline-success" style="float: right" id="SubmitStory">Submit</button>
      </div>
    </form>

 {{#each callThisVariableInHandlebarsForEach.dataValues.Lines}} {{dataValues.lineText}} {{/each}} --}}


{{!-- <script src="./assets/js/submitStory.js"></script> --}}